.container-fluid, .container {
    padding: 70px 20px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.5;
    font-family: "vag_roundedregular" !important;
}

.h2, h2 {
    font-size: 30px;
}

p {
    font-size: 16.5px;
    font-family: "vag_roundedregular" !important;
}