<header class="header d-flex align-items-center d-flex justify-content-center">
    <div class="text-vertical-center">
        <h1 class="heading_text">
            <span class="fontBold">
                Education Sector
            </span>
        </h1>
    </div>
</header>
<section class="strategies">
    <div>
        <div class="responsive-tabs responsive-tabs--enabled">
            <div class="tab-content">
                <div id="tab1" class="container tab-pane active">
                    <br />
                    <div class="tabdetails innerspan">
                        <h3>Education Sector</h3>
                        <p class="blueText fontBoldText">{{text1}}</p>
                        <p class="blueText fontBoldText">{{text2}}</p>
                        <p class="blueText fontBoldText">{{text3}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>