<div style="overflow: hidden;">
    <header class="whyua header img-fluid d-flex align-items-center d-flex justify-content-center anim">
        <div class="container">
            <div class="text-vertical-center text-center">
                <h1 class="heading_text" style="margin-top:100px;">
                    <span class="fonBold">
                        Account Management
                    </span>
                </h1>
            </div>
        </div>
    </header>

    <section class="strategies">
        <div class="responsive-tabs tesponsive-tabs--enabled">
            <div class="tab-content">
                <div id="tab1" class="container tab-pane active">
                    <br />
                    <div class="questions innerspan">
                        <div class="innerspan mt-5">
                            <span [innerHtml]="producttext1"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>