<div class="community-blog" *ngIf="community">
  <section class="blog-header">
    <img  src="https://utility-aid.co.uk/{{community.image1}}" />
  </section>

  <section class="blog-content" *ngIf="community">
    <div class="container">
      <div class="row blog-position">
        <div class="col-md-8  white">
          <div class="content">
            <h2 [innerHtml]="community.page_content_extended_title"></h2>

            <div id="editor1" [innerHtml]="editorChange"></div>

            <div class="share">
              <span class="mt-5">Share:</span>
              <div id="share-logo">
                <a class="share-fb" style="cursor: pointer;" (click)="fbShare()"> </a>
                <a class="share-tw" style="cursor: pointer;" (click)="twitterShare()"> </a>
              </div>
            </div>
          </div>
        </div>

        <!-- /////////////////////////    author   ///////////////////////// -->
        <div class="col-md-4" *ngIf="Article">
          <h3>More good news</h3>
          <div class="articles" *ngFor="let articles of Article">
            <span>
              <a class="recent" [routerLink]="[
                  '/blog',
                  {
                    date: articles.publish_date_0 | date: 'yyyy/M/d',
                    slug: articles.slug
                  }
                ]">{{
                articles.page_content_extended_title }}</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>