.blog-header {
  /* background: url("community.image1"); */
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;
  min-height: 598px;
  margin-top: -15px;
}

.blog-content {
  color: black;
  min-height: 450px;
}
.blog-content .container {
  padding: 0px;
}
.white {
  background-color: #fff;
  margin-top: -80px;
}
.content h2 {
  padding: 20px 60px 0 36px;
  border-left: 8px solid #3496c1;
  margin-left: -15px;
  font-family: "vag_roundedbold", sans-serif;
  font-size: 34px;
  line-height: 46px;
  margin-bottom: 50px;
  margin-top: 10px;
}
.content {
  font-size: 16.5px;
  line-height: 1.75;
  margin-bottom: 40px;
  font-family: "vag_roundedregular";
}
#editor1 {
  padding-left: 30px;
  padding-right: 60px;
}
h3 {
  font-size: 16px;
  font-family: "vag_roundedbold";
  margin-bottom: 30px;
  margin-top: 20px;
}
.articles a.recent {
  border-left: 4px solid #18252a;
  display: block;
  margin-bottom: 40px;
  padding-left: 30px;
  color: #18252a;
  font-family: "vag_roundedregular";
}
a {
  text-decoration: none;
}
.articles a.recent:hover {
  border-left: 4px solid #3496c1;
  text-decoration: none;
  color: #3496c1;
}
.share a.share-fb {
  background: url("../../assets/share-fb.png");
  margin-right: 20px;
}
.share a.share-tw {
  background: url("../../assets/share-tw.png");
  margin-right: 20px;
}
.share span {
  float: left;
  display: block;
  width: 100px;
  padding-right: 20px;
  padding-left: 30px;
  height: 64px;
  line-height: 64px;
  text-align: left;
  font-family: "vag_roundedbold", sans-serif;
}
.share {
  overflow: hidden;
}
.share a {
  float: left;
  width: 64px;
  height: 64px;
  background-size: 64px 64px;
  background-repeat: no-repeat;
}
