.header {
  background: url(../../assets/faq.jpg) no-repeat center 25% fixed;
  display: table;
  position: relative;
  width: 100%;
  height: 70%;
  background-size: cover;
  margin-top: -22px;

}

.strategies .container {
  padding: 50px;
}

.nav-tabs {
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-tabs .nav-link.active {
  border-color: #17252a;
  background-color: #17252a;
  color: #3697c2;
}

.responsive-tabs li {
  font-size: 19.5px;
  font-family: "vag_roundedbold";
}

.nav-tabs {
  background-color: #17252a;
  padding: 15px;
}

.nav-link.active {
  padding: 12px;
  margin-left: 120px;
  font-size: 19.5;
}

.tab-content {
  background-color: #3697c2;
  margin-top: -1px;
}

.headings {
  font-family: "vag_roundedbold";
  color: #17252a;
  font-size: 40px;
  padding-top: 50px;
  padding-bottom: 20px;
}

b {
  line-height: 1.5;
  font-family: vag_roundedregular;
  font-weight: bold;
  font-size: 20.5px;
  color: white;
}

.tabdetails {
  font-size: 20.5px;
  font-family: "vag_roundedregular";
  color: white;
  margin-bottom: 20px;
  line-height: 1.4;
  text-align: justify;
  padding-top: 30px;
  word-spacing: 0px;
}

.donotsign {
  padding-top: 10px;
  margin-bottom: 20px;
}

.tabdetails2 {
  font-size: 20.5px;
  font-family: "vag_roundedregular";
  color: white;
  margin-bottom: 0px;
  line-height: 1.4;
  text-align: justify;
  padding-top: 0px;
}

.questions {
  padding-top: 25px;
}

a.btnFindOutMore:hover {
  border: 6px solid #17252a;
  color: #17252a !important;
}

.fontBold {
  font-family: "vag_roundedbold";
  color: white !important;
}

.nav-item>a {
  position: relative;
}

.nav-item>.active:after {
  content: "";
  display: block;
  position: absolute;
  left: auto;
  top: 89%;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #3697c2;
}