<header class="home header mobile text-center">
    <div class="col-sm-12 text-vertical-center" style="background-color: white;padding-bottom: 0px;padding-top: 30px;">
      <h2 class="heading" class="uploadLoa" style="margin-top: 0;padding-top:0;color: black;display: inline;">
        Welcome to Utility Aid
      </h2>
      <p style="color: black;font-size: 20px;">When you are ready for a free energy audit simply upload your bills here:
        <a href="/loa-upload" class="upload" style="margin-top: 8px;">
          <i class="fa fa-upload" style="font-size: 24px;"></i> Upload LOA/Bill</a>
        </p>
      <p style="color: black;font-size: 18;">
        If you would like some more information feel free to explore our site or contact us below.
      </p>
    </div>
  </header>
  <div class="container padding-top">
    <div class="col-sm-8 col-sm-offset-2">
        <form [formGroup]="adForm" (ngSubmit)="onSubmit()">
            <div class="col-sm-12 padding" style="padding-top: 20px;">
              <div class="control-group">
                <div class="controls">
                    <label for="" style="color: black;font-size: 14px;">Name</label>
                  <input type="text" class="form-control" id="name" formControlName="name" placeholder="Name" />
                  <p class="danger" *ngIf="adForm.controls.name.invalid && !adForm.controls.name.pristine">Name
                    is required.</p>
                </div>
                <div class="controls">
                    <label for="" style="color: black;font-size: 14px;">Contact No</label>
                    <input type="text" class="form-control" formControlName="contactNo" placeholder="Contact No" />
                    <p class="danger" *ngIf="adForm.controls.contactNo.invalid && !adForm.controls.contactNo.pristine">Contact No
                      is required.</p>
                  </div>
                <div class="controls">
                    <label for="" style="color: black;font-size: 14px;">Email</label>
                  <input type="email" class="form-control" id="cvemail" formControlName="cvemail" placeholder="Email" />
                  <div *ngIf="adForm.controls.cvemail.invalid && !adForm.controls.cvemail.pristine">
                    <p class="danger" *ngIf="adForm.controls.cvemail.errors.email">Valid email is required.</p>
                  </div>
                </div>
                <div class="controls ">
                    <label for="" style="color: black;font-size: 14px;">Message</label>
                    <textarea class="form-control ng-pristine ng-valid" rows="3" formControlName="message" name="message"
                      placeholder="Message"></textarea>
                      <div *ngIf="adForm.controls.message.invalid && !adForm.controls.message.pristine">
                        <p class="danger" *ngIf="adForm.controls.message.errors.email">Message is required.</p>
                      </div>
                  </div>
  
                <div class="control-group">
                  <div class="controls text-center" style="padding-top:16px;">
                    <button type="submit" class="btnFindOutMore">Submit</button>
                    <img src="/assets/loading-gif.gif" class="fa fa-spinner" width="50" *ngIf="loader==true">
                    <br />
  
                  </div>
                </div>
              </div>
            </div>
          </form>
    </div>
    <div class="col-sm-12 text-center" style="padding: 0;">
        <p style="color: black;">or <br> Contact with</p>
        <a class="m-2" href="https://api.whatsapp.com/send?phone=447500798922&text=Hi" target="_blank">
          <i class="fa fa-whatsapp" style="font-size:50px;color:#4FCE5D"></i>
        </a>
        <a class="m-2" href="https://www.facebook.com/ua.domoregood" target="_blank" style="margin-left: 5px;">
          <i class="fa fa-facebook-square" style="font-size:50px;color:#3b5998"></i>
        </a>
        <a class="m-2" href="https://twitter.com/UA_Energy" target="_blank" style="margin-left: 5px;">
          <i class="fa fa-twitter" style="font-size:50px;color:#00acee"></i>
        </a>
        <a class="m-2" href="https://www.instagram.com/utilityaid/" target="_blank" style="margin-left: 5px;">
          <i id="insta" class="fa fa-instagram" style="font-size:50px;"></i>
        </a>
        <a class="m-2" href="https://www.linkedin.com/company/1462326/admin/" target="_blank" style="margin-left: 5px;">
          <i class="fa fa-linkedin-square" style="font-size:50px;color:#0e76a8"></i>
        </a>
      </div>
  </div>