<header class="header d-flex align-items-center d-flex justify-content-center">
    <div class="text-vertical-center">
        <h1 class="heading_text ">
            <span class="fontBold">
                Customer Care
            </span>
        </h1>
    </div>
</header>
<section class="strategies">
    <div class="responsive-tabs tesponsive-tabs--enabled">
        <div class="tab-content">
            <div id="tab1" class="container tab-pane active">
                <br />
                <div class="questions innerspan">
                    <p class="blueText fontBoldText">{{text1}}</p>
                    <div class="innerspan mt-5">
                        <span [innerHtml]="producttext1"></span>
                    </div>
                </div>
                <div class="contents">
                    <h1>
                        Complaint Process
                    </h1>
                    <img class="images" src="assets/complaints-process.png" width="700px"
                        style="margin-bottom: 10px;" /><br>
                    <h1>
                        Escalation to Ombudsman
                    </h1>
                </div>
                <div>
                    <p class="paragrap">
                        If your case has been open for 8 weeks or more and a favourable resolution has not been reached,
                        you may escalate your
                        complaint to the Ombudsman Services. Ombudsman services are free of charge for consumers and
                        completely impartial.
                        <br>Escalation of your case can be done through many channels;
                    </p><br>

                    <div class="icontext">
                        <a href="tel:03304401624"><i class="fa fa-phone"
                                style="font-size: 40px; padding-right: 35px;color: white;"></i></a><a
                            href="tel:03304401624">0330 440 1624</a><br><br>
                        <a href="mailto: enquiry@ombudsman-services.org"><i class="fa fa-envelope"
                                style="font-size: 40px; padding-right: 25px; color: white;"></i></a><a
                            href="mailto: enquiry@ombudsman-services.org">enquiry@ombudsman-services.org</a><br><br>
                        <p><i class="fa fa-address-card"
                                style="font-size: 37px; padding-right: 25px; color: white;"></i>Ombudsman Services:
                            Energy, P.O. Box 966, Warrington, WA4 9DF</p><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>