<header class="header d-flex align-items-center d-flex justify-content-center">
  <div class="text-vertical-center">
    <h1 class="heading_text">
      <span class="fontBold">
        our clients say
      </span>
    </h1>
  </div>
</header>
<section class="our-client-say" style="background-color: #3697c2;">
  <div class="container">
    <div class="text-center">
      <h2 class="heading_text_inner">
        "Going through the energy audit process with Utility Aid has been
        extremely useful. It not only highlighted the savings to be made but
        saved us valuable time."
      </h2>
      <br />
      <p class="fontBold">
        Peter Robinson, Branch Treasurer
        <br />
        The Multiple Sclerosis (MS) Society
      </p>
    </div>
  </div>
</section>

<section class="clients">
  <div class="container text-center">
    <h2 class="heading-text-inner fontBold" style="font-size: 40px;">
      Partners
    </h2>
    <br /><br />

    <div class="row" *ngIf="partnerlist">
      <!-- ///////////////////////////////////////////// -->

      <div class="case-logo col-md-3 col-sm-6" *ngFor="let partner of partnerlist">
        <div class="partners">
          <a routerLink="#">
            <img src="https://utility-aid.co.uk/{{ partner.image1 }}" width="200" />
            <br />
            <span class="affinity-round" style="font-family:'vag_roundedregular';">
              {{ partner.partner_name }}
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>