.header {
  background: url(../../assets/our-client-say.jpg) no-repeat center 25% fixed;
  display: table;
  position: relative;
  width: 100%;
  height: 70vh;
  background-size: cover;
  margin-top: -22px;

}

.container {
  padding: 70px 20px;
}

.heading_text_inner {
  font-family: "vag_roundedregular";
  color: white;
  line-height: 1.4;
}



.our-client-say p {
  font-size: 30px;
  line-height: 1.4;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .case-logo {
    max-width: 50%;
  }
}