<section style="background-color: #E4DCC1;color: black;border-bottom: 1px solid grey">
  <div id="bribery" class="container">
    <div class="inner">
      <h2>
        The Bribery Act 2010 - Utility Aid Statement</h2>

      <p>
        The Bribery Act 2010 came in to force on 1st July 2011. Utility Aid Limited's (UA)
        Policy is to conduct all of our business in an honest and ethical manner. We take
        a zero-tolerance approach to bribery and corruption. Utility Aid is committed to acting professionally,
        fairly and with integrity in all our business dealings and relationships wherever
        we operate and implementing and enforcing effective systems to counter bribery.
      </p>

      <p>
        Utility Aid condemns all acts of bribery or corruption; any cases brought to its attention
        will be investigated thoroughly and dealt with appropriately. All employees and
        all individuals working on behalf of, under contract from or in partnership with
        Utility Aid, or with any of its employees, are expected to be aware of their responsibilities
        and the standard of behaviour expected.
      </p>
    </div>
  </div>
</section>
