p {
  font-size: 19.5px;
  font-family: 'vag_roundedregular';
  line-height: 1.4;
}

.container {
  padding-top: 100px;
  padding-bottom: 50px;
  margin-top: -16px;
}

h2 {
  padding-bottom: 10px;
  font-size: 30px;
  line-height: 1;
  font-family: 'vag_roundedregular';
}
