<header class="header d-flex align-items-center d-flex justify-content-center">
    <div class="text-vertical-center">
        <h1 class="heading_text">
            <span class="fontBold">
                National Charity Tender
            </span>
        </h1>
    </div>
</header>
<section class="strategies">
    <div>
        <div class="responsive-tabs responsive-tabs--enabled">
            <div class="tab-content">
                <div id="tab1" class="container tab-pane active">
                    <br />
                    <div class="tabdetails innerspan">
                        <h3>National Charity Tender</h3>
                        <p class="blueText fontBoldText">{{text1}}</p>
                        <p class="blueText fontBoldText">{{text2}}</p>
                        <p class="blueText fontBoldText">{{text3}}</p>

                        <div class="innerspan mt-5">
                            <span [innerHtml]="producttext1"></span>
                        </div>
                        <!-- <div class="innerspan mt-5">
                            <span [innerHtml]="producttext2"></span>
                        </div>

                        <div class="innerspan mt-5">
                            <span [innerHtml]="producttext3"></span>
                        </div>
                        <div class="innerspan mt-5">
                            <span [innerHtml]="producttext4"></span>
                        </div>

                        <div class="innerspan mt-5">
                            <span [innerHtml]="producttext5"></span>
                        </div> -->
                        <p style="font-size: x-large;">If you would like to advantage of this offer,
                            please <a class="clickhere" style="color: #3697c2 !important;" (click)="open()"
                                data-toggle="modal" data-target="#contactUs">click here</a> for a call back.</p>
                    </div>
                </div>
                <!-- <div class="container text-center pb-5" id="howwecharge">
                    <div class="row">
                        <div class="col-sm-12" style="padding-bottom: 15px;">
                            <a class="btnFindOutMore fontBold pointer"  data-toggle="modal"
                                style="max-width: 98vw;" data-target="#contactUs">
                                Contact Us
                            </a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="contactUs" role="dialog" style="display: none;">
    <div class="modal-dialog modal-lg" style="margin-top: 100px;">
        <div class="modal-content askTable" style="background-color: #F2F2F2;margin: 0 auto">
            <div class="row">
                <div class="col-md-12">
                    <div style="min-width: 350px;padding: 10px 0px" class="text-center">
                        <div class="modal-header">
                            <h2 class="modal-title" *ngIf="show" style="color:#3697C2;padding-left: 15px;">Contact Us
                            </h2>
                            <button type="button" data-dismiss="modal" class="close">
                                ×
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="control-group " *ngIf="show">
                                <form [formGroup]="contactUsForm" (ngSubmit)="onsubmit()">
                                    <div class="controls ">
                                        <input class="form-control " formControlName="name" placeholder="Name"
                                            type="text" />
                                        <p class="danger"
                                            *ngIf="contactUsForm.controls.name.invalid && !contactUsForm.controls.name.pristine">
                                            Name is required.</p>
                                    </div>
                                    <div class="controls ">
                                        <input class="form-control " formControlName="phone" placeholder="Phone"
                                            type="number" />
                                        <p class="danger"
                                            *ngIf="contactUsForm.controls.phone.invalid && !contactUsForm.controls.phone.pristine">
                                            Phone Number is required.</p>
                                        <span id="askphoneID"></span>
                                    </div>
                                    <div class="controls ">
                                        <input class="form-control " formControlName="email" placeholder="Email"
                                            type="email" />
                                        <div
                                            *ngIf="contactUsForm.controls.email.invalid && !contactUsForm.controls.email.pristine">
                                            <p class="danger" *ngIf="contactUsForm.controls.email.errors.email">Valid
                                                Email is required.</p>
                                        </div>
                                        <span id="askemailID"></span>
                                    </div>
                                    <div class="controls ">
                                        <textarea style="height: 150px" class="form-control " cols="25"
                                            formControlName="comment" placeholder="Comments" rows="10"></textarea>
                                        <p class="danger"
                                            *ngIf="contactUsForm.controls.comment.invalid && !contactUsForm.controls.comment.pristine">
                                            Comments are required.</p>
                                        <span id="askquestionsID"></span>
                                    </div>
                                    <div class="control-group">
                                        <div class="controls" style="padding-top:16px">
                                            <button type="submit" class="btnFindOutMore">
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div *ngIf="!show">
                                <div id="stage " class="mt-4">
                                    <p style="text-align:center;">
                                        <img width="128" height="128" [lazyLoad]="'assets/check-icon.png'">
                                    </p>

                                    <div style="text-align:center;">
                                        <h1 style="text-align: center;font-family:'vag_roundedregular'">Thank You!
                                        </h1>

                                        <p style="text-align: center;font-family:'vag_roundedregular'">
                                            We've received your query! Our team will respond as soon
                                            as possible.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>