<section>
  <div class="container text-center" style="color:#17252A;min-height: 1000px">
    <!-- <iframe src="https://genericcore.myutilitygenius.co.uk/?switchFormOption=6&referrerBranch=UA"
                sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-top-navigation"
                class="engine"
                scrolling="no"
                seamless
                onload="window.parent.parent.scrollTo(0, 0)"  frameBorder="0" width="100%">
        </iframe> -->
    <iframe #appIframeResizer
      src="https://genericcore.myutilitygenius.co.uk/?switchFormOption=6&amp;referrerBranch=UA&amp;ensureContentWithDateOf=1577343542915"
      sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-top-navigation"
      class="thread-content" scrolling="no" seamless="" onload="window.parent.parent.scrollTo(0, 0)" frameborder="0"
      width="100%" id="iFrameResizer" style="overflow: hidden; height: 695px;">
    </iframe>
  </div>
</section>
