<!-- <nav class="navbar container-fluid navbar-default ng-scope"> -->
<!-- <nav class="navbar navbar-expand-lg navbar-default bg-light"> -->

<nav class="navbar navbar-expand-md navbar-dark" style="display: block;">
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <a class="navbar-brand anim" routerLink="" style="width: fit-content;float: left;">
    <img src="assets/Utilityaid_New.png" />
  </a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="dashboardView">
    <ul class="nav navbar-nav ianim navbar-right freephone-nav p-2 mt-0 pt-0">
      <li class="fontBold freephone" style="color:white">
        freephone:
        <span class="anchorMargin" style="color:#3697C2">
          0808 1788 170&nbsp;

          <a href="https://www.facebook.com/ua.domoregood">
            <img src="assets/no.png" style="height:20px" />
          </a>

          <a href="https://twitter.com/UA_Energy">
            <img src="assets/22.png" style="height:20px" />
          </a>

          <a href="https://www.linkedin.com/company/utility-aid-ltd">
            <img src="assets/lndn.png" style="height:20px" />
          </a>

          <a href="https://www.instagram.com/utilityaid/">
            <img src="assets/req.png" style="height:20px" />
          </a>
        </span>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right mt-1 hanim">
      <li data-target="#collapsibleNavbar">
        <a routerLink="why-ua">why Utility aid?</a>
      </li>

      <li class="dropdown-open">
        <a class="dropdown-toggle" style="cursor: pointer;" data-toggle="dropdown">products
        </a>
        <ul class="dropdown-menu">
          <li data-target="#collapsibleNavbar">
            <a routerLink="our-products">our products</a>
          </li>
          <li data-target="#collapsibleNavbar">
            <a href="https://utility-aid.co.uk/switch/" target="_blank">business energy switching</a>
          </li>
          <li data-target="#collapsibleNavbar">
            <a routerLink="energyswitching">domestic energy switching</a>
          </li>
        </ul>
      </li>

      <li data-target="#collapsibleNavbar">
        <a routerLink="case-studies">customer stories</a>
      </li>
      <li data-target="#collapsibleNavbar">
        <a routerLink="advisory-board">advisory board</a>
      </li>
      <li data-target="#collapsibleNavbar"><a routerLink="media">media</a></li>
      <li data-target="#collapsibleNavbar"><a routerLink="faq">FAQs</a></li>
      <li data-target="#collapsibleNavbar">
        <a routerLink="workwithus">work with us</a>
      </li>
      <li data-target="#collapsibleNavbar">
        <a routerLink="contact">contact</a>
      </li>
      <li data-target="#collapsibleNavbar">
        <a routerLink="loa-upload">LOA and bill upload</a>
      </li>
    </ul>
  </div>

  <!-- ======== mobile navbar =============== -->

  <div class="collapse navbar-collapse mobileView" id="collapsibleNavbar">
    <!-- 
                      <ul class="navbar-nav mr-auto mt-2 mt-lg-0"> -->
    <ul class="nav navbar-nav navbar-right">
      <li data-toggle="collapse" data-target="#collapsibleNavbar">
        <a routerLink="why-ua">why Utility aid?</a>
      </li>

      <li class="dropdown-open">
        <a class="dropdown-toggle" data-toggle="dropdown">products
          <!-- <span class="caret"></span> -->
        </a>
        <ul class="dropdown-menu">
          <li data-toggle="collapse" data-target="#collapsibleNavbar">
            <a routerLink="our-products">our products</a>
          </li>
          <li data-toggle="collapse" data-target="#collapsibleNavbar">
            <a href="https://utility-aid.co.uk/switch/" target="_blank">business energy switching</a>
          </li>
          <li data-toggle="collapse" data-target="#collapsibleNavbar">
            <a routerLink="energyswitching">domestic energy switching</a>
          </li>
        </ul>
      </li>

      <li data-toggle="collapse" data-target="#collapsibleNavbar">
        <a routerLink="case-studies">customer stories</a>
      </li>
      <li data-toggle="collapse" data-target="#collapsibleNavbar">
        <a routerLink="advisory-board">advisory board</a>
      </li>
      <li data-toggle="collapse" data-target="#collapsibleNavbar">
        <a routerLink="media">media</a>
      </li>
      <li data-toggle="collapse" data-target="#collapsibleNavbar">
        <a routerLink="faq">FAQs</a>
      </li>
      <li data-toggle="collapse" data-target="#collapsibleNavbar">
        <a routerLink="workwithus">work with us</a>
      </li>
      <li data-toggle="collapse" data-target="#collapsibleNavbar">
        <a routerLink="contact">contact</a>
      </li>
      <li data-target="#collapsibleNavbar">
        <a routerLink="loa-upload">LOA and bill upload</a>
      </li>
    </ul>

    <!-- ////////////////////////////  freephone   ////////////////////// -->

    <ul class="nav navbar-nav navbar-right freephone-nav p-2">
      <li class="fontBold freephone" style="color:white;padding-left: 0;">
        freephone:
        <span class="anchorMargin" style="color:#3697C2">
          0808 1788 170&nbsp;

          <a href="https://www.facebook.com/ua.domoregood">
            <img src="assets/no.png" style="height:20px" />
          </a>

          <a href="https://twitter.com/UA_Energy">
            <img src="assets/22.png" style="height:20px" />
          </a>

          <a href="https://www.linkedin.com/company/utility-aid-ltd">
            <img src="assets/lndn.png" style="height:20px" />
          </a>

          <a href="https://www.instagram.com/utilityaid/">
            <img src="assets/req.png" style="height:20px" />
          </a>
        </span>
      </li>
    </ul>
  </div>
</nav>