.header {
  /* background: url(../../assets/contact.jpg) no-repeat center 50% fixed; */
  background:no-repeat center 50% fixed; 
  display: table;
  position: relative;
  width: 100%;
  height: 70vh;
  background-size: cover;
  margin-top: -22px;

}
.ng-lazyloaded {
  opacity: 1;
  animation: fadein .5s;
}
@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
.contacts {
  background-color: #3697c2;
  /* margin-top: 150px;
  margin-bottom: 150px; */
}

.container {
  padding: 70px 20px;
}

.contacts h2 {
  font-size: 23.5px;
  color: #17252a;
  font-family: "vag_roundedregular";
  /* line-height:1.5; */
  padding-top: 10px;
}

.contacts h3 {
  font-size: 60px;
  color: white;
}

.fontBold {
  padding-top: 40px;
}

.contact {
  padding: 40px 10px;
}

.text-left {
  text-align: left;
}

.contact .title {
  font-size: 29.5px;
  font-family: "vag_roundedbold";
  color: #b4eaff;
}

.contact .location {
  color: #17252a;
  font-size: 29.5px;
  font-family: "vag_roundedbold";
}

.contact .address {
  color: #17252a;
  font-size: 20.5px;
  display: block;
  font-family: "vag_roundedregular";
  font-weight: 800;
}

.contact .number {
  font-size: 29.5px;
  font-family: "vag_roundedbold";
  color: white;
}

a {
  color: #337ab7;
  text-decoration: none;
}

.mail {
  margin-top: 10px;
  /* background: url("../../assets/mail.png"); */
  width: 49px;
  height: 33px;
}

.social .facebook {
  margin-top: 10px;
  /* background: url("../../assets/socialicon.png"); */
  background-position: 0px 0px;
  width: 68px;
  height: 50px;
  float: left;
}

.social .twitter {
  margin-top: 10px;
  /* background: url("../../assets/socialicon.png"); */
  background-position: 210px 0px;
  width: 68px;
  height: 50px;
  float: left;
}

.social .linkdin {
  margin-top: 10px;
  /* background: url("../../assets/socialicon.png"); */
  background-position: 130px 0px;
  width: 68px;
  height: 50px;
  float: left;
}

.social .instagram {
  margin-top: 10px;
  /* background: url("../../assets/socialicon.png"); */
  background-position: 67px 0px;
  width: 68px;
  height: 50px;
  float: left;
}

.btnFindOutMore {
  display: inline-block;
  /* margin-top:10px; */
  text-decoration: none;
  padding: 10px 12px;
  border: 6px solid white;
  border-radius: 20px;
  font-size: 22px;
  margin-bottom: 46px;
}

.text-center {
  padding-bottom: 25px;
}

.social {
  margin-top: 10px;
  display: flex;
}

@media screen and (max-width: 767px) {
  .header {
    background-attachment: scroll !important;
  }

  .contacts h3 {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
.contact .address {
    font-size: 18.5px;
}
.contact .number {
  font-size: 26.5px;
}


}