<header class="header d-flex align-items-center d-flex justify-content-center">
    <div class="text-vertical-center">
        <h1 class="heading_text">
            <span class="fontBold">
                Void Management Service
            </span>
        </h1>
    </div>
</header>
<section class="strategies">
    <div>
        <div class="responsive-tabs responsive-tabs--enabled" *ngIf="product">
            <div class="tab-content">
                <div id="tab1" class="container tab-pane active">
                    <br />
                    <div class="tabdetails">
                        <div>
                            <span class="blueText">Managing occupancies in HMO's or
                                Multiple Properties with multiple suppliers, is time
                                consuming and stressful. Our dedicated team does this for you.</span>

                            <div class="innerspan mt-5">
                                <span [innerHtml]="producttext"></span>
                            </div>

                            <div class="innerspan mt-5">
                                <span [innerHtml]="producttext1"></span>
                            </div>

                            <div class="innerspan mt-5">
                                <span [innerHtml]="producttext2"></span>
                            </div>
                            <!-- <div class="mt-5">
                                <span class="blueText">How does the Void Management Service work?</span>
                                <div>We liaise with both housing officers and suppliers, in order to manage change of
                                    tenancies and unoccupied or abandoned properties. Within one working day, we have a
                                    supplier account updated with the correct occupancy details entered.</div>
                            </div> -->
                            <!-- <div class="mt-5">
                                <span class="blueText">What are the benefits of the Void Management Service?</span>
                                <div>
                                    <ul>
                                        <li>Saves time for housing officers as wait times are usually very lengthy</li>
                                        <li>One day turnaround</li>
                                        <li>Unique login for each user on our bespoke Void Portal software</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mt-5">
                                <span class="blueText">Key Features of Void Management</span>
                                <div>
                                    <ul>
                                        <li>Processing of change of tenancies for both pre-pay and billed meters</li>
                                        <li>Managed pre-pay service available where customers are looking to replace
                                            them with billed meters</li>
                                        <li>Monthly report on void activity</li>
                                        <li>Resolving issues on your behalf</li>
                                    </ul>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>