.header {
  background: url(../../assets/products.jpg) ;
  /* background:no-repeat center 25% fixed; */
  display: table;
  position: relative;
  width: 100%;
  height: 70vh;
  background-size: cover;
  margin-top: -22px;

}
header.ng-lazyloaded {
  opacity: 1;
  animation: fadein .5s;
}
@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
.responsive-tabs {
  display: table;
  margin: 0 auto;
  width: 100%;
  background-color: #3697c2;
  margin-top: -10px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: -18px;
}

.responsive-tabs li {
  font-size: 19.5px;
  font-family: vag_roundedbold;
}

.strategies .container-fluid {
  padding: 50px;
  width: 100%;
  background-color: #17252a;
}

.strategies .container {
  padding: 50px;
  width: 100%;
  background-color: #17252a;
}

.nav-item>a {
  color: white;
  font-size: 19.5px;
  font-family: "vag_roundedbold";
  position: relative;
}

.nav-item>.active:after {
  content: "";
  display: block;
  position: absolute;
  /* left: 20px; */
  left: auto;
  top: 90%;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #17252a;
}

.nav-tabs .nav-link.active {
  background-color: #3697c2;
  border-color: #3697c2;
  color: black;
}

/* .nav-tabs .nav-link:focus {
  border-color: #3697c2;
} */
.nav-tabs .nav-link {
  border-color: #3697c2;
}

.nav-tabs {
  border-color: #3697c2;
  padding: 15px;
  /* margin-left: 100px; */
}

.nav-item>a:hover {
  color: black;
}

h3 {
  font-size: 40px;
  font-family: "vag_roundedregular";
  color: white;
}

.tab-content {
  background-color: #17252a;
}

.tabdetails {
  font-size: 20.5px;
  font-family: "vag_roundedregular";
  color: white;
  margin-bottom: 30px;
  line-height: 1.4;
  text-align: justify;
}

.headings {
  margin-top: 55px;
  margin-bottom: 2.5rem;
  text-align: justify;
}

.headingstab {
  font-size: 17.5px;
  font-family: "vag_roundedbold";
  padding-top: 5px;
  /* background-color: #3697c2; */
  color: white;
}

.headingstab:hover {
  border-color: #3697c2;
}

/* 
.arrowH:active {
  content: "";
  display: block;
  position: absolute;
  right: 20px;
  top: 40%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #17252a;
} */

/* .arrowH.collapsed:after {
  content: "";
  display: block;
  position: absolute;
  right: 20px;
  top: 40%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #17252a;
} */

/* 
.arrowH.collapsed,
.arrowH:after {
  display: none;
} */
/* .collpased.active:after {
  content: "";
  display: block;
  position: absolute;
  right: 20px;
  top: 40%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #17252a;
}

.arrowH:after {
  content: "";
  display: block;
  position: absolute;
  right: 20px;
  top: 40%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #17252a;
} */
.mb-0>a {
  display: block;
  position: relative;
}

.mb-0>a:after {
  content: "\f078";
  /* fa-chevron-down */
  font-family: 'FontAwesome';
  position: absolute;
  right: 0;
}

.mb-0>a[aria-expanded="true"]:after {
  content: "\f077";
  /* fa-chevron-up */
}

.headingstab .collapse.show:after {
  content: "";
  display: block;
  position: absolute;
  right: 20px;
  top: 40%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #17252a;
}

.card {
  background-color: #3697c2;
}

.collapse {
  background-color: #17252a;
}

.bg {
  background-color: #17252a !important;
  margin: 0 !important;
}

.card-body {
  margin: 10px;
}

.rotate-icon {
  float: right;
}

a:hover {
  text-decoration: none;
}

/* .arrow-down {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid black;
  margin-left: 20px;
} */

@media screen and (max-width: 767px) {
  .header {
    background-attachment: scroll;
    margin-bottom: 0px;
  }

  .heading_text {
    font-size: 45px;
  }

  .mobile {
    display: none;
  }

  /* .mobile-device{
        display: contents;
    } */
  .headings {
    font-size: 30px;
  }
}

@media screen and (min-width: 992px) {
  .mobile-device {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .mobile {
    display: none;
  }

  .mobile-device {
    display: block;
  }

  .header {
    margin-bottom: -1px;
  }
}

/* @media screen and ( min-width:1200px){
    .mobile{
        display:none;
    }  
} */