.back-to-top {
  background: #dddddd url(../assets/backtotop.png) no-repeat center 43%;
  cursor: pointer;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 10px;
  bottom: 10px;

  border: 1px solid #3697c2;
}

@media screen and (max-height:700px) {
  .back-to-top {
    display: none;
    top: 85%;
  }

}

@media screen and (max-height:1024px) {
  .back-to-top {
    top: 85%;
  }

}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) {
  .back-to-top {
    top: 80%;
  }
}

/* @media screen and (min-height:800px)and(max-height:1280px) {
  .back-to-top {
    display: block;

  }
} */