<header class="header d-flex align-items-center d-flex justify-content-center">
    <div class="text-vertical-center">
        <h1 class="heading_text">
            <span class="fontBold">
                Invoice Validation
            </span>
        </h1>
    </div>
</header>
<section class="strategies">
    <div>
        <div class="responsive-tabs--enabled" *ngIf="product">
            <div class="tab-content">
                <div id="tab1" class="container tab-pane active">
                    <br />
                    <h3 class="headings">Invoice Validation</h3>
                    <div class="blueText fontBoldText">{{text1}}</div>
                    <p class="blueText mt-5 font-regular">1) Invoice Validation - Returning Money Directly to You</p>
                    <p class="text-white">{{text2}}</p>
                    <div class="tabdetails">
                        <div class="innerspan mt-5">
                            <span [innerHtml]="producttext1"></span>
                        </div>

                        <div class="innerspan mt-5">
                            <span [innerHtml]="producttext2"></span>
                        </div>

                        <div class="innerspan mt-5">
                            <span [innerHtml]="producttext3"></span>
                        </div>

                        <h3 class="headings mt-5 pt-5">Energy Monitoring</h3>
                        <div class="blueText fontBoldText">{{text3}}</div>

                        <div class="innerspan mt-5">
                            <span [innerHtml]="producttext4"></span>
                        </div>

                        <div class="innerspan mt-5">
                            <span [innerHtml]="producttext5"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>