.case-study-blog {
  /* background: url("../../assets/case-study-blog.jpg"); */
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;
  min-height: 584px;
  margin-top: -15px;
}

.caseStudy {
  padding: 70px 30px;
}

.desc {
  width: 180px;
  min-height: 190px;
  margin-bottom: 60px;
}

.desc h2 {
  font-family: "vag_roundedbold";
  font-size: 28px;
  color: white;
  margin-bottom: 30px;
  line-height: 1.5;
}

.desc span {
  font-family: "vag_roundedregular";
  font-size: 16px;
  color: white;
  line-height: 24px;
}

h3 {
  font-family: "vag_roundedregular";
  font-size: 24px;
  color: white;
}

.appreciate {
  background-color: #f2f2f2;
}

.appreciate1 {
  background-image: url("../../assets/appreciate-img1.png");
}

.appreciate2 {
  background-image: url("../../assets/analyse-img1.png");
}

.appreciate3 {
  background-image: url("../../assets/action-img1.png");
}

.appreciate {
  text-align: center;
  font-size: 28px;
  font-family: "vag_roundedbold";
  padding-bottom: 60px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100px 100px;
  padding-top: 65px;
  color: black;
  padding: 100px;
}

.title-appreciate {
  padding-top: 20px;
}

.appreciate-subtitle {
  font-size: 24px;
  margin-top: -20px;
  margin-bottom: 80px;
  color: #3496c1;
  line-height: 36px;
}

.text {
  color: black;
  padding: 0 10px;
  text-align: left;
}

.text h2 {
  font-size: 16px;
  margin-bottom: 20px;
  font-family: "vag_roundedbold";
  color: #3496c1;
  padding-top: 0;
  padding-left: 0;
  line-height: 24px;
}

p {
  font-size: 16.5px;
  font-family: "vag_roundedregular";
  line-height: 1.4;
}

.case-study-blog2 {
  /* background: url("../../assets/case-study-blog2.jpg"); */
  background-position: center top;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 800px;
}

.quote {
  border: none;
  padding: 0 40px;
  font-size: 42px;
  line-height: 64px;
  margin-bottom: 80px;
  margin: 0 0 31px;
  color: #fff;
  font-family: "vag_roundedregular";
}

.case-study-blog2 h4 {
  color: #fff;
  font-family: "vag_roundedbold";
  font-size: 24px;
}

.case-study-blog2 h4 span {
  color: #fff;
  line-height: 2;
  font-family: "vag_roundedregular" !important;
}

.case-study-blog2 .container-fluid {
  padding: 180px 0;
}

.case-study-blog3 {
  /* background: url("../../assets/case-study-blog2.jpg"); */
  background-position: center top;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 800px;
}

.case-study-blog3 h4 {
  color: #fff;
  font-family: "vag_roundedbold";
  font-size: 24px;
}

.case-study-blog3 h4 span {
  color: #fff;
  line-height: 2;
  font-family: "vag_roundedregular" !important;
}

.case-study-blog3 .container-fluid {
  padding: 180px 0;
}

@media screen and (max-width: 767px) {
  .desc-info {
    display: inline-block;
    padding: 11px;
  }

  .appreciate {
    padding: 40px;
  }

  .title-appreciate {
    padding-top: 70px;
  }

  .quote {
    font-size: 28px;
    line-height: 34px;
    color: #fff;
  }
}

@media screen and (max-width: 1023px) {
  .desc-info {
    display: inline-block;
  }

  .quote {
    font-size: 28px;
    line-height: 34px;
    color: #fff;
  }

  .questions {
    max-width: 100%;
  }

  .case-study-blog {
    margin-top: -23px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* .author {
    margin-left: 85px;
  } */
}