.header {
  background: url(../../assets/whyua.jpg) no-repeat center 25% fixed;
  display: table;
  position: relative;
  width: 100%;
  height: 70%;
  background-size: cover;
  margin-top: -22px;
  padding-bottom: 40px;
  margin-bottom: 8px;
}

video {
  width: 40%;
  height: 40%;
  border: 2px solid #000;
  border-radius: 10px;

  display: table-cell;
  margin-top: -60px;
  margin-left: 30%;
}
.text_center {
  text-align: center;
}
h2 {
  font-size: 23.5px;
  color: white;
  line-height: 1.5;
  padding-top: 100px;
}

.fontRegular {
  font-family: vag_roundedregular;
}
.save {
  margin-top: -8px;
  padding-bottom: 45px;
  margin-bottom: -15px;
}
h3 {
  font-size: 40px;
  font-family: vag_roundedbold;
  color: #3697c2;
  margin-top: 40px;
  margin-bottom: 20px;
}
p {
  padding-top: 28px;
  color: white;
  font-size: 21.5px;
  font-family: vag_roundedregular;
  margin-top: 20px;
  margin-bottom: 20px;
}
.fontBold {
  color: #17252b;
  font-family: vag_roundedbold;
  font-size: 40px;
  padding-top: 75px;
  padding-bottom: 16px;
}
/* .fontBold{
  font-family: 'vag_roundedbold';
  padding-top: 70px;
  padding-bottom: 25px;
} */
.ng-binding {
  color: rgb(62, 161, 194);

  font-size: 20.5px;
  font-family: vag_roundedregular;
  /* padding-top: 24px; */
}
.fourlines {
  color: black;

  font-size: 15px;
  font-family: vag_roundedregular;
  /* padding-top: 10px; */
}

.blogs {
  background-color: #e4dcc1;
  border-bottom: 1px solid darkkhaki;
  color: #17252b;
  padding-top: 1px;
  padding-bottom: 70px;
}
.heading_text_inner {
  margin-top: 15px;
  font-size: 40px;
}

.blogs .innerblog {
  text-align: left;
  background-color: white;
  width: 300px;
  padding: 20px;
  display: table;
  margin: 0 auto;

  margin-bottom: 40px;
}
.blogs a:hover .innerblog {
  background-color: #3697c2;
}
.blogs .details {
  overflow: hidden;
  height: 200px;
}
.blogs .details h2 {
  font-size: 20.5px;
  color: #3496c1;
  min-height: 80px;
  padding-top: 10px;
  font-family: "vag_roundedregular";
  line-height: 1.5;
}
.blogs a:hover h2 {
  color: white !important;
}
.blogs .details p {
  font-size: 16.5px;
  color: black;
  font-family: "vag_roundedregular";
  line-height: 1.5;
}
a {
  color: #3496c1;
}
.blogs a:hover .details p {
  color: white !important;
}
/* .a:hover {
  background-color: rgb(8, 179, 236);
} */

@media screen and (max-width: 767px) {
  video {
    width: 100%;
    height: auto;
    margin-left: 0px;
  }
  .header img {
    background: url(../../assets/whyua.jpg) no-repeat center 25% fixed;
    width: 100%;
    /* background-attachment: scroll; */
    background-size: contain;
  }

  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 25px;
  }
  p {
    font-size: 19.5px;
  }
  .fontBold {
    font-size: 32px;
  }
  .heading_text {
    font-size: 45px !important;
    margin-top: 60px !important;
    margin-bottom: -2.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    background-attachment: scroll;
  }

  .heading_text {
    font-size: 45px;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1366px) {
  .row-blog {
    max-width: 33%;
  }
}
