<div style="overflow: hidden;">
  <header class="whyua header d-flex align-items-center d-flex justify-content-center anim">
    <div class="container">
      <div class="text-vertical-center text-center">
        <h1 class="heading_text" style="margin-top:100px;">
          <span class="fonBold">
            why Utility Aid?
          </span>
        </h1>

        <h2>
          <video id="videowhyua" poster="assets/videoimg1.jpg"
            src="assets/videos/RA504_Utility_Aid_VOL_MASTER_small.mp4" preload="none" width="300" height="200" controls
            loop></video>
        </h2>
      </div>
    </div>
  </header>


  <section #saveMoney id="saveMoney" class="save ng-scope anim" style="background-color:#17252a;">
    <div class="container-fluid" style="max-width:1100px;">
      <div class="text_center">
        <h2 id="save_text" class="fontRegular innerSpan">
          <span [innerHtml]="text"> </span>
        </h2>
        <br />
        <br />
        <br />
        <div>
          <img src="assets/gather.png" />
          <h3>Gather Data</h3>
          <p id="text5" class="innerSpan">
            <span [innerHtml]="text1"> </span>
          </p>
        </div>
        <br /><br /><br />
        <div>
          <img src="assets/provide.png" />
          <h3>Provide Check</h3>
          <p id="text5" class="innerSpan">
            <span [innerHtml]="text2"> </span>
          </p>
        </div>
        <br /><br /><br />
        <div>
          <img src="assets/relax.png" />
          <h3>Sign and Relax</h3>
          <p id="text5" class="innerSpan">
            <span [innerHtml]="text3"> </span>
          </p>
        </div>
        <br /><br /><br />
      </div>
    </div>
  </section>

  <section id="blogs" class="blogs anim">
    <div class="text-center ">
      <h2 class="heading_text_inner fontBold ">Utility Aid in the Community</h2>
      <br />
      <br />

      <div class="row" *ngIf="dataBlog">
        <div class="row-blog col-md-4 col-sm-6 col-12" *ngFor="let bloginfo of dataBlog">
          <a [routerLink]="[
            '/blog',
            
              bloginfo.publish_date_0 | date: 'yyyy',
              bloginfo.publish_date_0 | date: 'M',
              bloginfo.publish_date_0 | date: 'd',
              bloginfo.slug
            
          ]">
            <div class="innerblog">
              <img src="https://www.utility-aid.co.uk/{{bloginfo.image1}}" width="260" height="200" />
              <div class="details">
                <h2 class="hedaings">
                  {{ bloginfo.title }}
                </h2>
                <p class="four-lines">
                  {{ bloginfo.page_content_excerpt }}
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>