<header class="d-flex align-items-center d-flex justify-content-center">
  <img src="assets/customer-stories.jpg" class="header" style="width: 100%;z-index: -1;">
  <div class="text-vertical-center" style="position: absolute;">
    <h1 class="heading_text">
      <span class="fontBold">
        customer stories
      </span>
    </h1>
  </div>
</header>

<section id="case-study" class="blogs">
  <div class="container text-center">
    <h2 class="heading_text_inner fontBold">Case Study</h2>
    <br /><br />

    <div class="row">
      <div class="case-blog col-md-4 col-sm-12" *ngFor="let blog of blogdata">
        <a [routerLink]="['/case-study-blog', blog.slug]">
          <div class="innerblog" *apploading="blog.image1==undefined">
            <img src="https://www.utility-aid.co.uk/{{blog.image1}}" width="260" height="200" />
            <div class="details">
              <h2 class="hedaings">
                {{ blog.title }}
              </h2>
              <p class="four-lines">
                {{ blog.home_page_listing_excerpt }}
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="clients">
  <div class="container text-center">
    <h2 class="heading_text_inner fontBold">
      Affinity Partners
    </h2>
    <br /><br />

    <div class="row" *ngIf="partnerlist">
      <!-- ///////////////////////////////////////////// -->

      <div class="case-logo col-md-3 col-sm-6" *ngFor="let partner of partnerlist">
        <div class="partners">
          <a href={{partner.link}} target="_blank">
            <img src="https://www.utility-aid.co.uk/{{partner.image1}}" width="200" />
            <br />
            <span class="affinity-round" style="font-family:'vag_roundedregular';">
              {{ partner.partner_name }}
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>