<section style="background-color: #E4DCC1;color: black;border-bottom: 1px solid grey">
  <div id="environmental" class="container">
    <div class="inner">
      <h2>
        Environmental Policy</h2>
      <p>
        UTILITY AID LIMITED believes that businesses are responsible for achieving good
        environmental practice and operating in a sustainable manner.
      </p>
      <p>
        We are therefore committed to reducing our environmental impact and continually
        improving our environmental performance as an integral and fundamental part of our
        business strategy and operating methods.
      </p>
      <p>
        It is our priority to encourage our customers, suppliers and all business associates
        to do the same. Not only is this sound commercial sense for all; it is also a matter
        of delivering on our duty of care towards future generations.
      </p>
      <p>
        <strong>Our policy is to</strong>
      </p>
      <ul>
        <li>Wholly support and comply with or exceed the requirements of current environmental
          legislation and codes of practice.</li>
        <li>Minimise our waste and then reuse or recycle as much of it as possible.</li>
        <li>Minimise energy and water usage in our buildings, vehicles and processes in order
          to conserve supplies, and minimise our consumption of natural resources, especially
          where they are non-renewable.</li>
        <li>Operate and maintain company vehicles with due regard to environmental issues as
          far as reasonably practical and encourage the use of alternative means of transport
          and car sharing as appropriate.</li>
        <li>Apply the principles of continuous improvement in respect of air, water, noise and
          light pollution from our premises and reduce any impacts from our operations on
          the environment and local community.</li>
        <li>As far as possible purchase products and services that do the least damage to the
          environment and encourage others to do the same.</li>
        <li>Assess the environmental impact of any new processes or products we intend to introduce
          in advance.</li>
        <li>Ensure that all employees understand our environmental policy and conform to the
          high standards it requires.</li>
        <li>Address complaints about any breach of our Environmental Policy promptly and to
          the satisfaction of all concerned.</li>
        <li>Update our Environmental Policy annually in consultation with staff, associates
          and customers.</li>
      </ul>
    </div>
  </div>
</section>
