/* You can add global styles to this file, and also import other style files */

@import "assets/slick/slick.css";
@import "assets/slick/slick-theme.css";

@font-face {
  font-family: "vag_roundedbold";
  src: url("./assets/font/vag_rounded_bold-webfont.eot");
  src: url("./assets/font/vag_rounded_bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("./assets/font/vag_rounded_bold-webfont.woff") format("woff"),
    url("./assets/font/vag_rounded_bold-webfont.ttf") format("truetype"),
    url("./assets/font/vag_rounded_bold-webfont.svg#vag_roundedbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "vag_roundedregular";
  src: url("./assets/font/vag_rounded_thin-webfont.eot?1");
  src: url("./assets/font/vag_rounded_thin-webfont.eot?#iefix") format("embedded-opentype"),
    url("./assets/font/vag_rounded_thin-webfont.woff?1") format("woff"),
    url("./assets/font/vag_rounded_thin-webfont.ttf?1") format("truetype"),
    url("./assets/font/vag_rounded_thin-webfont.svg#vag_roundedregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.heading_text {
  margin-left: 0px;
  font-size: 66px;
  color: white;
  font-weight: 500;
  font-family: "vag_roundedbold";
  text-align: center;
}

a:focus {
  border: none;
}


a.btnFindOutMore {
  text-decoration: none;
  color: white;
  padding: 8px 10px;
  padding-top: 8px;
  padding-right: 10px;
  padding-bottom: 8px;
  padding-left: 10px;
  border: 6px solid white;
  border-top-color: white;
  border-top-style: solid;
  border-top-width: 6px;
  border-right-color: white;
  border-right-style: solid;
  border-right-width: 6px;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 6px;
  border-left-color: white;
  border-left-style: solid;
  border-left-width: 6px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 20px;
}

a.btnFindOutMore2 {
  text-decoration: none;
  color: #23527c;
  padding: 8px 10px;
  padding-top: 8px;
  padding-right: 10px;
  padding-bottom: 8px;
  padding-left: 10px;
  border: 6px solid #23527c;
  border-top-color: #23527c;
  border-top-style: solid;
  border-top-width: 6px;
  border-right-color: #23527c;
  border-right-style: solid;
  border-right-width: 6px;
  border-bottom-color: #23527c;
  border-bottom-style: solid;
  border-bottom-width: 6px;
  border-left-color: #23527c;
  border-left-style: solid;
  border-left-width: 6px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 20px;
}

.heading_text_inner {
  margin-top: 15px;
  font-size: 40px;
  text-align: center;
}

.heading_text_inner {
  margin-top: 15px;
  font-size: 40px;
  text-align: center;
}

.fontBold {
  font-family: "vag_roundedbold";
  padding-top: 50px;
  padding-bottom: 25px;
}

.clients {
  background-color: #e4dcc1;
  border-bottom: 1px inset darkkhaki;
  color: #17252b;
  padding-bottom: 55px;
}

.clients a {
  text-decoration: none;
  color: #23527c;
  font-size: 16.5px;
}

.clients img:hover {
  width: 192px;
}

.partners img {
  margin-top: 40px;
  margin-bottom: 17px;
}

@media screen and (max-width: 767px) {
  .header {
    background-attachment: scroll !important;
  }

  .heading_text {
    font-size: 45px !important;
    margin-left: 10px;
  }

  a.btnFindOutMore {
    font-size: 17px;
  }
}

.strategies a {
  color: #17252a !important;
}

.strategies {
  font-size: 20.5px;
}

.tab-content {
  text-align: justify !important;
  line-height: 1.4;
}