.modal {
  width: 100%;
}

.sp a {
  color: black !important;
  font-size: 13px;
  margin: 0 10px 0 0;
  font-family: "vag_roundedregular";
}

.btn a {
  font-size: 20px;
}

footer {
  background-color: #e4dcc1;
}

.modal-title {
  color: "#000000";
  font-family: "vag_roundedregular";
  font-size: 30px;
}

ul.ua {
  list-style-image: url("../../assets/ua.png");
}

ul>li {
  font-family: "vag_roundedregular";
  line-height: 2;
  font-size: 14.5px;
}

input {
  font-family: "vag_roundedregular";
  font-size: 14px;
  border-radius: 18px;
}

textarea {
  font-family: "vag_roundedregular";
  font-size: 14px;
}

.askButton {
  font-size: 20px;
  cursor: pointer;
  padding: 5px 15px;
  position: fixed;
  z-index: 999;
  bottom: 0px;
  background-color: #3697c2;
  border: 1px solid black;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-radius: 10px 10px 0px 0px;
  color: white !important;
  border-bottom: none;
  font-family: "vag_roundedregular";
}

.popBtm {
  opacity: 0;
  animation: popBottom 1s ease-in forwards;
  animation-delay: 2s;
}

.askButton:hover {
  color: #23527c !important;
}

a:hover {
  text-decoration: underline !important;
}

.modal-body {
  overflow-y: inherit;
  padding: 20px;
}

.modal-lg {
  max-width: 900px;
}

.controls {
  padding: 3px;
  padding-left: 10px;
  padding-right: 20px;
}

.form-control {
  height: 38px;
}

.col-md-5 {
  padding-left: 0px;
}

.modal .btnFindOutMore {
  text-decoration: none;
  color: #3496c1;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border: 6px solid #3496c1;
  border-radius: 20px;
  font-size: 18px;
  font-family: "vag_roundedregular";
  background-color: #23527c;
}

@media screen and (max-width: 768px) {
  .askButton {
    display: inline-flex;
    font-size: 19px;
    cursor: pointer;
    padding: 5px 15px;
    position: fixed;
    z-index: 999;
    bottom: 0px;
    background-color: #3697c2;
    border: 1px solid black;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-radius: 10px 10px 0px 0px;
    color: white;
    border-bottom: none;
  }

  .modal {
    width: 100%;
    position: fixed;
    right: 30%;
  }

  .modal-body {
    max-height: 35em;
    overflow-y: auto;
  }
}

.danger {
  background-color: #ffd6d6;
    color: red;
    text-align: left;
    border-radius: 18px;
    padding: 4px 0 0 15px;
    margin-bottom: 20px;
    height: 34px;
    margin: 5px;
    font-size: 16px;
    font-family: "vag_roundedregular";
}

.ng-lazyloaded {
  opacity: 1;
  animation: fadein .5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

a:focus, a:hover {
  color: #23527c !important;
  text-decoration: underline !important;
}

/* .fade.in {
  opacity: 0;
} */