<div class="ng-scope " ng-include="">
  <footer class="ng-scope abc">
    <div class="container" style="padding:10px;padding-bottom:37px;padding-top: 40px;">
      <div class="row">
        <div class="col-md-7">
          <div class="sp">
            <a routerLink="/privacy-policy">Privacy Policy</a>
            <a routerLink="/enviromental-policy">Environmental Policy</a>
            <a routerLink="/bribery-act">Bribery Act Statement</a>
          </div>
          <div class="sp legal">
            <span style="color: #928559;font-size:13px;font-family: vag_roundedregular;margin-bottom:20px;">UA is part
              of Utility Aid LTD. Company No. 04408718. Registered
              in England & Wales.</span>
          </div>
        </div>
        <div class="col-md-5"></div>
      </div>
    </div>
  </footer>
  <div class="d-flex justify-content-center" style="width: 100%;">
    <a class="askButton " data-toggle="modal" style="max-width: 98vw;" data-target="#myModal">
      Having billing or broker problems? We can help. Click here
    </a>
  </div>

</div>

<!-- <div class="btn" style="margin-top:10px;"> -->



<div class="modal fade" id="myModal" role="dialog" style="display: none;">
  <div class="modal-dialog modal-lg" style="margin-top: 100px;">
    <div class="modal-content askTable" style="background-color: #F2F2F2;margin: 0 auto">
      <div class="row">
        <div class="col-sm-7">
          <div
            style="vertical-align: top; color: black;border-right: 1px solid #e5e5e5;font-size: 14.5px;padding: 20px;">
            <h2 class="modal-title">We offer:</h2>
            <ul class="ua">
              <li>The lowest rates on energy in the UK - guaranteed!</li>
              <li>
                Exclusive rates for charities and Not-For-Profit organisations
              </li>
              <li>
                Invoice Validation; we reclaim over £250K for clients every
                year!
              </li>
              <li>
                Your own portal to view your consumption data and historical
                bills
              </li>
            </ul>
            <h2 class="modal-title" style="color:#000000">
              <br />We are proud to be:
            </h2>
            <ul class="ua">
              <li>
                The only broker in the UK that deals with 27 suppliers - most
                brokers only work with a handful
              </li>
              <li>
                The UK's only National Broker - having six offices across the
                country
              </li>
              <li>
                The only Broker in the UK with an Advisory Panel - free to help
                clients understand key issues
              </li>
              <li>
                We also have our own OJEU Procurement Framework
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-5">
          <div style="min-width: 350px;padding: 10px 0px" class="text-center">
            <div class="modal-header">
              <h2 class="modal-title  " style="color:#000000;padding-left: 15px;">
                How can
                <span style="color:#3697C2"> we help?</span>
              </h2>
              <button type="button" data-dismiss="modal" class="close">
                ×
              </button>
            </div>
            <div class="modal-body">
              <div class="control-group " *ngIf="!show">
                <form [formGroup]="questionForm" (ngSubmit)="onsubmit()">
                  <div class="controls ">
                    <input class="form-control " formControlName="name" placeholder="Name" type="text" />
                    <p class="danger"
                      *ngIf="questionForm.controls.name.invalid && !questionForm.controls.name.pristine">Name
                      is required.</p>
                  </div>
                  <div class="controls ">
                    <input class="form-control " formControlName="phone" placeholder="Phone" type="number" />
                    <p class="danger"
                      *ngIf="questionForm.controls.phone.invalid && !questionForm.controls.phone.pristine">Phone
                      Number is required.</p>
                    <span id="askphoneID"></span>
                  </div>
                  <div class="controls ">
                    <input class="form-control " formControlName="email" placeholder="Email" type="email" />
                    <div *ngIf="questionForm.controls.email.invalid && !questionForm.controls.email.pristine">
                      <p class="danger" *ngIf="questionForm.controls.email.errors.email">Valid email is required.</p>
                    </div>
                    <span id="askemailID"></span>
                  </div>
                  <div class="controls ">
                    <textarea style="height: 150px" class="form-control " cols="25" formControlName="questions"
                      placeholder="Comments/Questions" rows="10"></textarea>
                    <p class="danger"
                      *ngIf="questionForm.controls.questions.invalid && !questionForm.controls.questions.pristine">
                      Comments/Questions
                      are
                      required.</p>
                    <span id="askquestionsID"></span>
                  </div>
                  <div class="control-group">
                    <div class="controls" style="padding-top:16px">
                      <button type="submit" class="btnFindOutMore">
                        Submit
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <div *ngIf="show">
                <div id="stage " class="mt-4">
                  <p style="text-align:center;">
                    <img width="128" height="128" [lazyLoad]="'assets/check-icon.png'">
                  </p>

                  <div style="text-align:center;">
                    <h1 style="text-align: center;font-family:'vag_roundedregular'">Thank You!</h1>

                    <p style="text-align: center;font-family:'vag_roundedregular'">
                      We've received your query! Our team will respond as soon
                      as possible.
                    </p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>