<header class="header d-flex align-items-center d-flex justify-content-center" 
  [lazyLoad]="'assets/request.jpg'">
  <div class="text-vertical-center">
    <h1 class="heading_text">
      <span class="fontBold">
        request a free energy consultation
      </span>
    </h1>
  </div>
</header>
<section class="details">
  <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
    <div class="container text-center" style="max-width:900px;">
      <h2>
        Drop your details in below and we'll be in touch
      </h2>
      <div class="row">
        <div class="control-info col-md-6">
          <h3>About you</h3>
          <div class="control-group">
            <div class="controls">
              <input formControlName="title" type="text" class="form-control" placeholder="Title" />
              <p class="danger" *ngIf="requestForm.controls.title.invalid && !requestForm.controls.title.pristine">Title
                is required.</p>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <input formControlName="fullName" type="text" id="fullName" class="form-control" name="fullName"
                placeholder="Full name *" />
              <p class="danger" *ngIf="requestForm.controls.fullName.invalid && !requestForm.controls.fullName.pristine">Full
                Name
                is required.</p>
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <input formControlName="contact_number" type="number" id="contact_number" class="form-control" ng-model="contact_number"
                name="contact_number" placeholder="Contact number " />
              <p class="danger" *ngIf="requestForm.controls.contact_number.invalid && !requestForm.controls.contact_number.pristine">Contact
                is required.</p>
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <input formControlName="email" type="email" id="email" class="form-control" ng-model="email" name="email"
                placeholder="Email *" />
              <div *ngIf="requestForm.controls.email.invalid && !requestForm.controls.email.pristine">
                <p class="danger" *ngIf="requestForm.controls.email.errors.email">Valid email is required.</p>
              </div>
            </div>
          </div>

          <div>
            <h3>Do you require a FREE energy audit?</h3>
            <div>
              <!-- <span><br /></span> -->
              <div class="row ">
                <div class="col-sm-4 ml-5">
                  <div class="form-group form-check ">
                    <label class="form-check-label  ">
                      <input formControlName="audit" class="form-check-input " type="radio" value="Yes" /> Yes
                      please
                    </label>
                  </div>

                  <!-- <label>
                    <input type="radio" name="audit" value="Yes" />
                    Yes please
                  </label> -->
                </div>

                <div class="col-sm-4 ml-5">
                  <div class="form-group form-check">
                    <label class="form-check-label">
                      <input formControlName="audit" class="form-check-input" type="radio" value="No" /> No
                      Thank you
                    </label>
                  </div>
                </div>
                <div class="danger col-lg-12 p-3 ml-4" *ngIf="requestForm.controls['audit'].errors && requestForm.controls['audit'].dirty && requestForm.controls['audit'].errors.required">
                  <p>Please select either value</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="control-info col-md-6">
          <h3>Your company</h3>
          <div class="control-group">
            <div class="controls">
              <input formControlName="company_name" type="text" id="company_name" class="form-control" ng-model="company_name"
                name="company_name" placeholder="Company name " />
              <p class="danger" *ngIf="requestForm.controls.company_name.invalid && !requestForm.controls.company_name.pristine">Company
                Name
                is required.</p>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <input formControlName="position" type="text" id="position" class="form-control" ng-model="position" name="position"
                placeholder="Your position" />
              <p class="danger" *ngIf="requestForm.controls.position.invalid && !requestForm.controls.position.pristine">Position
                is required.</p>
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <input formControlName="current_supplier" type="text" id="current_supplier" class="form-control" ng-model="current_supplier"
                name="current_supplier" placeholder="Current energy supplier" />
              <p class="danger" *ngIf="requestForm.controls.current_supplier.invalid && !requestForm.controls.current_supplier.pristine">Supplier
                is required.</p>
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <input formControlName="annual_energy_costs" type="number" id="annual_energy_costs" class="form-control"
                ng-model="annual_energy_costs" name="annual_energy_costs" placeholder="Annual energy costs" />
              <p class="danger" *ngIf="requestForm.controls.annual_energy_costs.invalid && !requestForm.controls.annual_energy_costs.pristine">Cost
                is required.</p>
            </div>
          </div>
          <h3>How did you hear about us?</h3>
          <div>
            <div>
              <!-- <span><br /></span> -->

              <div class="row">
                <div class="col-sm-4 ml-5">
                  <div class="form-group form-check">
                    <label class="form-check-label  ">
                      <input formControlName="hearfrom" class="form-check-input" type="radio" value="Internet" />
                      Internet
                    </label>
                  </div>
                </div>
                <div class="col-sm-4 ml-5">
                  <div class="form-group form-check">
                    <label class="form-check-label">
                      <input formControlName="hearfrom" class="form-check-input" type="radio" value="Press" />Press
                      advert
                    </label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4 ml-5">
                  <div class="form-group form-check">
                    <label class="form-check-label">
                      <input formControlName="hearfrom" class="form-check-input" type="radio" value="Recommendation" />
                      Recommendation
                    </label>
                  </div>
                </div>
                <div class="col-sm-4 ml-5">
                  <div class="form-group form-check">
                    <label class="form-check-label">
                      <input formControlName="hearfrom" class="form-check-input" type="radio" value="Other" />Other
                    </label>
                  </div>
                </div>
              </div>
              <div class="danger col-lg-12" *ngIf="requestForm.controls['hearfrom'].errors && requestForm.controls['hearfrom'].dirty && requestForm.controls['hearfrom'].errors.required">
                <p class="text-left p-3 ">Please select either value</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="control-textarea col-md-12">
          <div class="control-group">
            <div class="controls">
              <span><br /></span>
              <textarea formControlName="msg" id="msg" class="form-control" cols="40" rows="10" name="msg" placeholder="Your enquiry">
              </textarea>
              <p class="danger" *ngIf="requestForm.controls.msg.invalid && !requestForm.controls.msg.pristine">Your
                Enquiry
                is required.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="control-textarea col-md-12">
          <div class="control-group">
            <div class="controls">
              <span><br /></span>
              <div class="btnFindOutMore">
                <button type="submit" class="btn fontBold" style=" font-family:'vag_roundedregular';background-color: buttonface;">
                  Send Enquiry
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>