<!-- ///////////////////////////      second part    /////////////////////////// -->
<ng-template #placeholder>
  <div style="height: 68px;"></div>
</ng-template>
<header #header class="home post-header-enhanced ng-scope d-flex align-items-center d-flex justify-content-center">
  <div class="container">
    <div class="text-vertical-center text-center">
      <h1 class="heading_text anim" style="margin-top:0;padding-top:0">
        <span class="fontBold">

          Welcome to Utility Aid
        </span>
        <p id="text1" [@animationOption2] *ngIf="data;else placeholder" class="heading_text_inner">

          {{ data?.text1 }}


        </p>
      </h1>
      <h2 class="anim">
        <video id="videoplayer" width="300" height="200" poster="assets/videoimg.jpg"
          src="assets/videos/RA504_Utility_Aid_MASTER_Compressed.mp4" controls loop>
          <track label="English" kind="subtitles" src="assets/videos/UASubtitles.vtt" srclang="en" default>
        </video>
      </h2>
    </div>
  </div>
</header>
<!-- Right side button -->

<div id="mybutton">
  <button class="button feedback" (click)="howWeCharge()">£ How We Charge?</button>
  </div>
<!--       ///////////////////////   third part ///////////////////////// -->

<div class="ng-scope anim" style="overflow: hidden;">
  <div class="banner-img"></div>
  <section class="home ng-scope anim" style="background-color: #17252a">
    <div class="container-fluid ab" style="padding:20px">
      <div class="text-center" style="margin-top:10px;font-size:23.5px;font-family: 'vag_roundedregular';">
        <h2 id="text2" *ngIf="data;else svg" class="subheading mb-1 anim">
          {{ data?.text2 }}

        </h2>
        <div class="slick-container">

          <img class="thumbnail" [src]="'assets/1.png'" />
          <img class="thumbnail" [src]="'assets/2.png'" />
          <img class="thumbnail" [src]="'assets/3.png'" />
          <img class="thumbnail" [src]="'assets/4.png'" />
          <img class="thumbnail" [src]="'assets/5.png'" />
          <img class="thumbnail" [src]="'assets/6.png'" />
          <img class="thumbnail" [src]="'assets/7.png'" />
          <img class="thumbnail" [src]="'assets/8.png'" />
          <img class="thumbnail" [src]="'assets/9.png'" />
          <img class="thumbnail" [src]="'assets/10.png'" />
          <img class="thumbnail" [src]="'assets/11.png'" />
          <img class="thumbnail" [src]="'assets/12.png'" />
          <img class="thumbnail" [src]="'assets/13.png'" />
          <img class="thumbnail" [src]="'assets/14.png'" />

        </div>


      </div>
    </div>
  </section>
</div>
<!-- //////////////////// slider ends ////////////////////////////// -->
<ng-template #svg>
  <div>
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
      <rect fill="#fff" width="3" height="100" transform="translate(0) rotate(180 3 50)">
        <animate attributeName="height" attributeType="XML" dur="1s" values="30; 100; 30" repeatCount="indefinite" />
      </rect>
      <rect x="17" fill="#fff" width="3" height="100" transform="translate(0) rotate(180 20 50)">
        <animate attributeName="height" attributeType="XML" dur="1s" values="30; 100; 30" repeatCount="indefinite"
          begin="0.1s" />
      </rect>
      <rect x="40" fill="#fff" width="3" height="100" transform="translate(0) rotate(180 40 50)">
        <animate attributeName="height" attributeType="XML" dur="1s" values="30; 100; 30" repeatCount="indefinite"
          begin="0.3s" />
      </rect>
      <rect x="60" fill="#fff" width="3" height="100" transform="translate(0) rotate(180 58 50)">
        <animate attributeName="height" attributeType="XML" dur="1s" values="30; 100; 30" repeatCount="indefinite"
          begin="0.5s" />
      </rect>
      <rect x="80" fill="#fff" width="3" height="100" transform="translate(0) rotate(180 76 50)">
        <animate attributeName="height" attributeType="XML" dur="1s" values="30; 100; 30" repeatCount="indefinite"
          begin="0.1s" />
      </rect>
    </svg>
  </div>
</ng-template>
<section class="home darkblue ng-scope anim" style="background-color:#3697c2">
  <div class="container" style="padding-bottom: 75px;margin-right: auto;margin-left: auto;">
    <div class="text-center col-sm-10 offset-sm-1 col-12">
      <h2 class="heading_text">
        Utility Aid + you
        <span class="fontBold">= £££ saved</span>

        <br /><br />
        <p id="text3" *ngIf="data;else svg" class="subheading anim">
          {{ data?.text3 }}
        </p>
        <p id="text3" class="subheading1 anim text-center">
          Unless otherwise stated, all our quotes are presented with Utility Aid’s fees already included. Fortunately these fees are payable directly by the supplier so you don’t need to worry about it.
        </p>
      </h2>
      <br /><br>
      <a role="button" class="btnFindOutMore fontBold" (click)="scroll()" style="cursor:pointer">find out more</a>
    </div>
    <!-- routerLink="why-ua" fragment="saveMoney" -->
  </div>
</section>

<!--   //////////////////////////////   blue part/    //////////////////// -->

<section class="home burner lightblue ng-scope anim">
  <div class="text-vertical-center innerSpan burner-top">
    <span [innerHtml]="text"> </span><br />
    <span class="text-button">
      <a class="btnFindOutMore fontBold" (click)="goTo()" style="cursor:pointer">find out more</a>
    </span>
  </div>
</section>

<!-- //////////////////  lets work together  ////////// -->
<section class="home" style="background-color: #17252a;padding: 20px;
">
  <div class="container-fluid ">
    <div class="text-center">
      <h2 class="heading_text_inner" style="margin-top: 45px;  margin-bottom: 0px;
            padding-bottom: 70px;
          padding-top: 55px;">
        <span class="fontBold">Lets work together!</span>

        <br />
        <br />
        <p style="font-size: 22.5px;color:white;margin-top:-23px;font-family: vag_roundedregular;line-height: 1.5;">
          The money we save for your organisation can be used to do more good!
        </p>
        <br />
        <div class="let-img d-flex justify-content-center">
          <img class="image1" [lazyLoad]="'assets/letsdomoregood.png'" />
          <!-- <img class="thumbnail " [defaultImage]="'assets/14.png'" [lazyLoad]="'assets/14.png'" /> -->
        </div>
      </h2>
    </div>
  </div>
</section>

