<!-- ///////////////////////////      second part    /////////////////////////// -->

<header class="home header ng-scope d-flex align-items-center d-flex justify-content-center">
  <div class="container">
    <div class="text-vertical-center text-center">
      <h1 class="heading_text" style="margin-top:0;padding-top:0">
        <span class="fontBold">

          Welcome to Utility Aid
        </span>
        <p id="text1" class="heading_text_inner">

          {{ data?.text1 }}


        </p>
      </h1>
      <h2>
        <!-- <img [defaultImage]="defaultImage" [lazyLoad]="image"> -->
        <video id="videoplayer" poster="assets/videoimg.jpg" src="assets/videos/RA504_Utility_Aid_MASTER_Compressed.mp4"
          controls="" loop=""></video>

      </h2>
    </div>
  </div>
</header>

<!--       ///////////////////////   third part ///////////////////////// -->

<div class="ng-scope">
  <div class="banner-img">

  </div>

  <!-- //////////////////////   slider           /////////////////////// -->
  <section class="home ng-scope" style="background-color: #17252a">
    <div class="container-fluid ab" style="padding:20px">
      <div class="text-center" style="margin-top:10px;font-size:23.5px;font-family: 'vag_roundedregular';">
        <h2 id="text2" class="subheading mb-1">
          {{ data?.text2 }}

        </h2>
        <div class="slick-container">

          <img class="thumbnail" [lazyLoad]="'assets/1.png'" />
          <img class="thumbnail" [lazyLoad]="'assets/2.png'" />
          <img class="thumbnail" [lazyLoad]="'assets/3.png'" />
          <img class="thumbnail" [lazyLoad]="'assets/4.png'" />
          <img class="thumbnail" [lazyLoad]="'assets/5.png'" />
          <img class="thumbnail" [lazyLoad]="'assets/6.png'" />
          <img class="thumbnail" [lazyLoad]="'assets/7.png'" />
          <img class="thumbnail" [lazyLoad]="'assets/8.png'" />
          <img class="thumbnail" [lazyLoad]="'assets/9.png'" />
          <img class="thumbnail" [lazyLoad]="'assets/10.png'" />
          <img class="thumbnail" [lazyLoad]="'assets/11.png'" />
          <img class="thumbnail" [lazyLoad]="'assets/12.png'" />
          <img class="thumbnail" [lazyLoad]="'assets/13.png'" />
          <img class="thumbnail" [lazyLoad]="'assets/14.png'" />

        </div>


      </div>
    </div>
  </section>
</div>
<!-- //////////////////// slider ends ////////////////////////////// -->

<section class="home darkblue ng-scope" style="background-color:#3697c2">
  <div class="container-fluid" style="padding-bottom: 75px;">
    <div class="text-center">
      <h2 class="heading_text">
        Utility Aid + you
        <span class="fontBold">= £££ saved</span>

        <br /><br />
        <p id="text3" class="subheading">
          {{ data?.text3 }}
        </p>
      </h2>
      <br /><br>
      <a role="button" class="btnFindOutMore fontBold" (click)="scroll()" style="cursor:pointer">find out more</a>
    </div>
    <!-- routerLink="why-ua" fragment="saveMoney" -->
  </div>
</section>

<!--   //////////////////////////////   blue part/    //////////////////// -->

<section class="home burner lightblue ng-scope" [lazyLoad]="'assets/burner.jpg'">
  <div class="text-vertical-center innerSpan burner-top">
    <span [innerHtml]="text"> </span><br />
    <span class="text-button">
      <a class="btnFindOutMore fontBold" routerLink="our-client-say" style="cursor:pointer">find out more</a>
    </span>
  </div>
</section>

<!-- //////////////////  lets work together  ////////// -->
<section class="home" style="background-color: #17252a;padding: 20px;
">
  <div class="container-fluid ">
    <div class="text-center">
      <h2 class="heading_text_inner" style="margin-top: 45px;  margin-bottom: 0px;
            padding-bottom: 70px;
          padding-top: 55px;">
        <span class="fontBold">Lets work together!</span>

        <br />
        <br />
        <p style="font-size: 22.5px;color:white;margin-top:-23px;font-family: vag_roundedregular;line-height: 1.5;">
          The money we save for your organisation can be used to do more good!
        </p>
        <br />
        <div class="let-img d-flex justify-content-center">
          <img class="image1" [lazyLoad]="'assets/letsdomoregood.png'" />
          <!-- <img class="thumbnail " [defaultImage]="'assets/14.png'" [lazyLoad]="'assets/14.png'" /> -->
        </div>
      </h2>
    </div>
  </div>
</section>